/*----------------------------------------------------------------------

        MASTER STYLESHEET

        Project:        GeeksMotion Webpack Boilerplate
        Version:        Alpha 0.0.4
        Author:         GeeksMotion
        Primary use:    Corporate, Business Themes.
        Email:                  geeksmotiongroup@gmail.com
        Follow:                 http://www.twitter.com/geeksmotion
        Like:                   http://www.facebook.com/geeksmotion
        Website:                http://www.geeksmotion.com

-----------------------------------------------------------------------*/
@import '../../../node_modules/font-awesome/css/font-awesome.css';
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';
@import 'global/settings',
        'addons/bootstrap-sass/assets/stylesheets/bootstrap',
        'addons/propeller/propeller',
        'modules/buttons',
        'modules/text-theme',
        'modules/bg-theme',
        'modules/posts',
        'modules/spacing',
        'global/typography',
        'pages/home',
        'global/base',
        'layout/header',
        'layout/footer',
        'layout/sidebar',
        'global/mixins',
        'global/responsive';




