<div class="col-lg-3">
    <div class="pmd-card pmd-card-default pmd-z-depth">
        <!-- Card media -->
        <div class="pmd-card-media hide">
            <img width="1184" height="666" class="img-responsive" src="{{img}}">
        </div>

        <!-- Card header -->
        <div class="pmd-card-title">
            <h2 class="pmd-card-title-text">{{title}}</h2>
            <span class="pmd-card-subtitle-text">{{description}}</span>
        </div>

        <!-- Card action -->
        <div class="pmd-card-actions">
            <a href="{{url}}" target="_blank">{{url}}</a>
        </div>
    </div>
</div>