.btn-float-right{
    position: fixed;
    top:45px;
    right: 30px;
}

.img-logo{
    max-width: 150px;
}

.mbottom15{
    margin-bottom: 15px;
}

@media (min-width: 1200px)
{
.container {
    width: 1360px;
}
}
label.error{
    display: none !important;
}
.panel-danger label.error{
    color:#c51162 !important;
    display: block !important;
}